@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@300;400;700;900&display=swap');


*{
    font-family: 'Be Vietnam Pro', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body{
    width: 80%;
    margin: auto;
}

.home-page{
    background-color: #8E94F2;
    width: 100%;
    height: 700px;
    display: flex;
}

nav{
    display: flex;
    justify-content: space-between;
    margin: 5%;
}

.logo{
    font-size: 30px;
    font-weight: 800;
    width: 40%;
    margin-left: 50px;
}

spam{
    color: red;
}

nav p{
    font-size: 7px;
    margin: auto;
    margin-left: 50px;
}


nav ul{
    display: flex;
    justify-content: space-around !important;
    margin-right: 50%;  
}

nav ul li{
    padding: 7%;
    font-weight: 800;
    font-size: 15px;
}

li{
    list-style: none;
}

.section-one{
    width: 20%;
    margin: auto;
    font-size: 30px;
    color: #f5f3f4;
    margin-left: 10%;
}

.section-one p{
    font-size: 50%;
}

.section-two{
    height: 88%;
    margin: auto;
    background-color: #f5f3f4;
    width: 80%;
    border-radius: 40px 0 0 40px;
    margin-bottom: 2%;
}

.happyhome{
    display: flex;
}

.happyhome-content{
    margin: 50px 50px 0 92px;
    width: 30%;
}

.happyhome-content h1{
    color: red;
    font-weight: 800;
    font-size: 40px;
    margin-bottom: 5px;
}

.happyhome-content p{
    font-weight: 550;
    padding-top: 15px;
    font-size: 14px;
    text-shadow: 2px black;
}

.happyhome-content button{
    padding: 5px;
    font-weight: 600;
    margin-top: 40px;
    background-color: red;
    width: 40%;
    height: 8%;
    border-radius: 20%;
    color: #f5f3f4;
    box-shadow:2px 2px 2px #8E94F2;
}

#image img{
    max-height: 450px;
    max-width: 500px;
    margin-left: 100px;
    background-color: #cccccc;
    border-bottom: #f5f3f4;

}

.registration{
    height: 600px;
    display: flex;
    background-color: #f5f3f4;
}

.registration-section{
    background-color: f5f3f4;
    height: 500px;
    margin: auto;
    box-shadow:10px 10px 10px 10px white;
    width: 90%;
    border-radius: 2%;
    display: flex;
    justify-content: space-between;
    padding-top: 5%;
}


.inputs{
    width: 50%;
    font-weight: 600;

}

.input spam{
    font-weight: 200;
    color: black;
}

.details{
    padding-bottom: 30px;
    padding-top: 20px;
}

.details input{
    height: 50px;
    width: 400px;
    margin-bottom: 20px;
    padding-left: 10px;
    border: none;
    box-shadow: 2px white;
}

.inputs button{
    width: 200px;
    height: 50px;
    background-color: #8E94F2;
    font-size: 20px;
    border: none;
    border-radius: 5%;
}

.empty{
    height: 15%;
    background-color: #8E94F2;
    color: #8E94F2;
}

.image img{
    width: 500px;
    height: 400px;
}

.cards-section{
    max-height: 700px;
    background-color: #f5f3f4;
}

.cards-section h2{
    text-align: center;
    margin-bottom: 5%;
    padding-top: 5%;
    font-size: 40px;
}

.cards img{
    width: 250px;
    height: 230px;
}

.cards{
    margin-top: 5%;
    text-align: center;
    background-color: #8E94F2;
    width: 300px;
    margin-bottom: 10%;
    box-shadow: 2px 3px 3px #8E94F2;
    border-radius: 3%;
}

.cards h2{
    font-size: 25px;
}

.like-button{
    width: 150px;
    height: 50px;
    font-size: 17px;
    font-weight: 600;
    color: red;
}

footer{
    height: 500px;
    background-color: #757BC8;
}